* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "layout";
@import "responsive-layout";
@import "home";
@import "responsive-home";
@import "about";
@import "responsive-about";
@import "faq";
@import "responsive-faq";
@import "events";
@import "responsive-events";
@import "courses";
@import "responsive-courses";
// colorful-tags
.uix-tag {
  background-color: rgba(203, 195, 255, 1);
}
.graphic-tag {
  background-color: rgba(255, 220, 195, 1);
}
.java-tag {
  background-color: rgba(195, 222, 255, 1);
}
.csharp-tag {
  background-color: rgba(195, 255, 237, 1);
}
.python-tag {
  background-color: rgba(195, 255, 201, 1);
}
.english-tag {
  background-color: rgba(255, 195, 195, 1);
}
.smm-tag {
  background-color: rgba(255, 247, 172, 1);
}
.asset-tag {
  background-color: rgba(255, 255, 255, 1);
  padding: 7px 25px;
}
.colorful-tags {
  padding: 7px 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
